In [256]:
import pandas as pd
import math

In [257]:
RIDERS = pd.read_csv("../data/riders.csv")
RIDER_TEAMS = pd.read_csv("../data/rider_teams.csv")
MANAGERS = pd.read_csv("../data/managers.csv")
MANAGER_TEAMS = pd.read_csv("../data/manager_teams.csv")
MANAGER_CHEAPO_TEAMS = pd.read_csv("../data/manager_cheapo_teams.csv")
POINTS_SYSTEM = pd.read_csv("../data/points_system.csv")
RACES = pd.read_csv("../data/races.csv")
RESULTS_2023 = pd.read_csv("../data/results/results_2023_full.csv")
RESULTS_2024 = pd.read_csv("../data/results/results_2024_full.csv")
RESULTS_2025 = pd.read_csv("../data/results/results_2025_full.csv")
CHEAPO_BANS = pd.read_csv("../data/cheapo_bans.csv")

In [258]:
# Riders owned by
RIDERS_OWNED_BY = MANAGER_TEAMS.groupby(["RiderName"])["ManagerName"].apply(", ".join).reset_index()
RIDERS_OWNED_BY_CHEAPO = MANAGER_CHEAPO_TEAMS.groupby(["RiderName"])["ManagerName"].apply(", ".join).reset_index()

# Race categories
RACE_CATEGORIES = RACES[["RaceName_PCS", "RaceCategory"]]

# Relevant results
RESULTS_POINTS = RESULTS_2025[["RACE", "STAGE_ID", "STAGE_TYPE", "RANK", "RIDER"]]
RESULTS_POINTS = RESULTS_POINTS.rename(columns = {
    "RACE": "RaceName",
    "STAGE_ID": "StageID",
    "STAGE_TYPE": "StageType",
    "RANK": "Rank",
    "RIDER": "RiderName"
})
RESULTS_POINTS = RESULTS_POINTS.dropna(subset = ["StageID"])
RESULTS_POINTS = RESULTS_POINTS.loc[RESULTS_POINTS["StageType"] != "TTT"]

def convert_to_int(row):
    if row.isdigit():
        return int(row)
    else:
        return 0
    
def stage_or_gcresult(stage_id, race_category):
    if stage_id.startswith("stage"):
        return race_category.replace("Tour ", "Stage ")
    else:
        return race_category    

RESULTS_POINTS = pd.merge(RESULTS_POINTS, RACE_CATEGORIES, how = "inner", left_on = ["RaceName"], right_on = ["RaceName_PCS"])
RESULTS_POINTS["Rank"] = RESULTS_POINTS.apply(lambda row: convert_to_int(row["Rank"]), axis = 1)
RESULTS_POINTS["RaceCategory"] = RESULTS_POINTS.apply(lambda row: stage_or_gcresult(row["StageID"], row["RaceCategory"]), axis = 1)
RESULTS_POINTS = pd.merge(RESULTS_POINTS, POINTS_SYSTEM, how = "left", left_on = ["RaceCategory", "Rank"], right_on = ["RaceCategory", "RaceRank"])
RESULTS_POINTS = pd.merge(RESULTS_POINTS, RIDERS, how = "left", left_on = ["RiderName"], right_on = ["RiderName_PCS"])

# Rider points
RIDER_POINTS = RESULTS_POINTS.groupby(["RiderName_Zweeler"])["RacePoints"].sum().reset_index()

# Rider racedays
RIDER_RACEDAYS = RESULTS_POINTS.loc[RESULTS_POINTS["StageID"] != "gc"]
RIDER_RACEDAYS = RIDER_RACEDAYS.groupby(["RiderName_Zweeler"])["RiderName_Zweeler"].count().rename("Racedays").reset_index()

In [259]:
RIDER_OUTPUT = RIDERS

RIDER_OUTPUT = pd.merge(RIDER_OUTPUT, RIDER_RACEDAYS, how = "left", left_on = ["RiderName_Zweeler"], right_on = ["RiderName_Zweeler"])
RIDER_OUTPUT = pd.merge(RIDER_OUTPUT, RIDER_POINTS, how = "left", left_on = ["RiderName_Zweeler"], right_on = ["RiderName_Zweeler"])
RIDER_OUTPUT = pd.merge(RIDER_OUTPUT, RIDERS_OWNED_BY, how = "left", left_on = ["RiderName_Zweeler"], right_on = ["RiderName"])
RIDER_OUTPUT = pd.merge(RIDER_OUTPUT, RIDERS_OWNED_BY_CHEAPO, how = "left", left_on = ["RiderName_Zweeler"], right_on = ["RiderName"])
RIDER_OUTPUT = pd.merge(RIDER_OUTPUT, CHEAPO_BANS, how = "left", left_on = ["RiderName_Zweeler"], right_on = ["RiderName"])

def ppm(points, millions):
    if math.isnan(points):
        return round(0, 2)
    else:
        return round(points / millions, 1)

def float_to_int(row):
    if math.isnan(row):
        return 0
    else:
        return int(row)

def cheapo_eligible(price, ban):
    if price <= 2.5 and ban == "":
        return "Ja"
    else:
        return ""
    
RIDER_OUTPUT["PPM"] = RIDER_OUTPUT.apply(lambda row: ppm(row["RacePoints"], row["RiderPrice"]), axis = 1)
RIDER_OUTPUT.RiderName = RIDER_OUTPUT.RiderName.fillna("")
RIDER_OUTPUT["Cheapo"] = RIDER_OUTPUT.apply(lambda row: cheapo_eligible(row["RiderPrice"], row["RiderName"]), axis = 1)
RIDER_OUTPUT["RacePoints"] = RIDER_OUTPUT.apply(lambda row: float_to_int(row["RacePoints"]), axis = 1)
RIDER_OUTPUT["Racedays"] = RIDER_OUTPUT.apply(lambda row: float_to_int(row["Racedays"]), axis = 1)
RIDER_OUTPUT.RiderName_x = RIDER_OUTPUT.RiderName_x.fillna("")
RIDER_OUTPUT.RiderName_y = RIDER_OUTPUT.RiderName_y.fillna("")
RIDER_OUTPUT.ManagerName_x = RIDER_OUTPUT.ManagerName_x.fillna("")
RIDER_OUTPUT.ManagerName_y = RIDER_OUTPUT.ManagerName_y.fillna("")

RIDER_OUTPUT = RIDER_OUTPUT[["RiderName_Zweeler", "RiderTeam", "RiderPrice", "Racedays", "RacePoints", "PPM", "Cheapo", "ManagerName_x", "ManagerName_y"]]

RIDER_OUTPUT = RIDER_OUTPUT.rename(columns = {
    "RiderName_Zweeler": "Navn",
    "RiderTeam": "Hold",
    "RiderPrice": "Pris",
    "Racedays": "Løbsdage",
    "RacePoints": "Point",
    "PPM": "Profit",
    "Cheapo": "Cheapo",
    "ManagerName_x": "Managers",
    "ManagerName_y": "Cheapo_Managers"
})

RIDER_OUTPUT_MAIN = RIDER_OUTPUT
RIDER_OUTPUT_MAIN = RIDER_OUTPUT_MAIN.drop(["Cheapo_Managers"], axis = 1)

RIDER_OUTPUT_CHEAPO = RIDER_OUTPUT
RIDER_OUTPUT_CHEAPO = RIDER_OUTPUT_CHEAPO.drop(["Managers"], axis = 1)
RIDER_OUTPUT_CHEAPO = RIDER_OUTPUT_CHEAPO.loc[RIDER_OUTPUT_CHEAPO["Cheapo"] == "Ja"]

In [260]:
# Standings
TEAMS_WITH_POINTS = pd.merge(MANAGER_TEAMS, RIDER_OUTPUT, how = "left", left_on = "RiderName", right_on = "Navn")
STANDINGS = TEAMS_WITH_POINTS.groupby(["ManagerName"])[["Pris", "Løbsdage", "Point"]].sum().reset_index()
STANDINGS["Point per løbsdag"] = round(STANDINGS["Point"] / STANDINGS["Løbsdage"], 2)
STANDINGS = STANDINGS.sort_values(by = "Point", ascending = False)
STANDINGS.rename(columns = {"ManagerName": "Manager", "Pris": "Samlet pris"})

      Manager  Samlet pris  Løbsdage  Point  Point per løbsdag
1  Hustlersen        327.8        61    510               8.36
0     Chrelle        350.0        46    422               9.17
4        Kenk        349.9        45    342               7.60
2       Jappo        350.0        38    288               7.58
8       Tommy        350.0        60    285               4.75
7      Okholm        350.0        39    253               6.49
5        Knak        349.8        45    242               5.38
9       Visti        350.0        26    167               6.42
3       Jarma        350.0        24    113               4.71
6       Matti        349.1        25    111               4.44

In [261]:
# Races
RACE_OUTPUT = RACES
RACE_OUTPUT = RACE_OUTPUT.drop("RaceName_PCS", axis = 1)
RACE_OUTPUT = RACE_OUTPUT.rename(columns = {
    "RaceNumber": "LøbID",
    "RaceName": "Løb",
    "RaceCategory": "Løbskategori",
    "RaceStart": "Løbsstart",
    "RaceEnd": "Løbsslut",
    "RaceLink_PCS": "Løbslink"
})

In [262]:
# Race points
RACE_POINTS = pd.merge(RESULTS_POINTS, RACES, how = "left", left_on = "RaceName", right_on = "RaceName_PCS")
RACE_POINTS = RACE_POINTS[["RaceName_y", "RaceCategory_y", "RiderName_Zweeler", "RiderTeam", "RacePoints", "StageID"]]

RACE_POINTS = RACE_POINTS.rename(columns = {
    "RaceName_y": "Løb",
    "RaceCategory_y": "Løbskategori",
    "RiderName_Zweeler": "Navn",
    "RiderTeam": "Hold",
    "RacePoints": "Point",
    "StageID": "StageID"
})

def result(id, point):
    if math.isnan(point):
        return ""
    if int(point) == 0:
        return ""
    else:
        return id + ": " + str(int(point))

RACE_POINTS["Resultater"] = RACE_POINTS.apply(lambda row: result(row["StageID"], row["Point"]), axis = 1)

RACE_POINTS_RACEDAYS = RACE_POINTS.groupby(["Løb", "Navn", "Løbskategori"]).count().reset_index()
RACE_POINTS_RACEDAYS = RACE_POINTS_RACEDAYS[["Løb", "Navn", "Løbskategori", "Hold"]]
RACE_POINTS_RACEDAYS = RACE_POINTS_RACEDAYS.rename(columns = {"Hold": "Løbsdage"})
RACE_POINTS_POINTS = RACE_POINTS.groupby(["Løb", "Navn", "Løbskategori"])["Point"].sum().reset_index()
RACE_POINTS_RESULTS = RACE_POINTS.loc[RACE_POINTS["Resultater"] != ""]
RACE_POINTS_RESULTS = RACE_POINTS_RESULTS.groupby(["Løb", "Navn", "Løbskategori"])["Resultater"].apply(", ".join).reset_index()

RACE_POINTS = pd.merge(RACE_POINTS_RACEDAYS, RACE_POINTS_POINTS, how = "left", left_on = ["Løb", "Navn", "Løbskategori"], right_on = ["Løb", "Navn", "Løbskategori"])
RACE_POINTS = pd.merge(RACE_POINTS, RACE_POINTS_RESULTS, how = "left", left_on = ["Løb", "Navn", "Løbskategori"], right_on = ["Løb", "Navn", "Løbskategori"])
RACE_POINTS.Resultater = RACE_POINTS.Resultater.fillna("")
RACE_POINTS["Point"] = RACE_POINTS["Point"].astype(int)

In [263]:
RIDER_OUTPUT_MAIN.to_html("../outputtables/RytteroversigtTabel.html", table_id = "filterabletable", index = False)
RIDER_OUTPUT_CHEAPO.to_html("../outputtables/RytteroversigtCheapoTabel.html", table_id = "filterabletable", index = False)
STANDINGS.to_html("../outputtables/StillingTabel.html", table_id = "filterabletable", index = False)
RACE_OUTPUT.to_html("../outputtables/LøbTabel.html", table_id = "filterabletable", index = False)
RACE_POINTS.to_html("../outputtables/LøbsresultaterTabel.html", table_id = "filterabletable", index = False)